In [11]:
import numpy as np
import pandas as pd
import psycopg2

In [12]:
# Параметры подключения
conn = psycopg2.connect(
    host="dpg-d05l1pq4d50c73f4qqfg-a.frankfurt-postgres.render.com", # house
    port="5432", # room
    database="hft_0yd2",
    user="admin",
    password="958G9FNfWvQGUvfmy3oiiftd5MjAu0OD"
)

In [13]:
# Создаем курсор
cur = conn.cursor() # объект для взаимодействия с базой (пульт управления)

# Выполняем SQL-запрос
cur.execute(
"""
select 'BTC' as ticker, count(*) as cnt_rows
from okx_prices_btc
union all 
select 'ETH' as ticker, count(*) as cnt_rows
from okx_prices_eth
union all
select 'SOL' as ticker, count(*) as cnt_rows
from okx_prices_sol
union all
select 'TON' as ticker, count(*) as cnt_rows
from okx_prices_ton;
"""
)

# Получаем результаты
rows = cur.fetchall()

# Преобразуем в DataFrame (если хочешь)
columns = [desc[0] for desc in cur.description]
df = pd.DataFrame(rows, columns=columns)

In [14]:
rows

[('BTC', 31800), ('ETH', 31800), ('SOL', 31800), ('TON', 31800)]

In [15]:
# Показываем
df.head()

  ticker  cnt_rows
0    BTC     31800
1    ETH     31800
2    SOL     31800
3    TON     31800

In [16]:
# Закрываем
cur.close()
conn.close()